*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.1);
    background-color: #9193a8;
}

#container {
    margin: 0px auto;
    width: 80%;
    text-align: center;
}

h1 {
    padding: 5px;
    color: #fff;
    font-size: 50px;
}

.row {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.row div {
    /* width: 40%; */
    text-align: center;
    border-radius: 10px;
    background-color: blanchedalmond;
    width: 100%;
    margin: 0px 5px;
    height: 40px;
    padding: 5px;
}

.row div:hover{
    background-color: grey;
    color: white;
}

a {
    color: #000;
}

.row div:hover a {
    color: #fff;
}

#home, #computer, #friends {
    display: none;
    position: relative;
}

#home:target, #computer:target, #friends:target {
    display: block;
}

.note, .noteC {
    padding: 20px;
   text-align: left;
   color: blue;
}

table {
    background-color: blue;
    margin: 10px auto;
    /* display: inline-block; */
}

.btn, .btnC {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    font-size: 40px;
}

.btn:hover, .btnC:hover {
    background-color: aqua;
}

#reset, #resetC {
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: yellowgreen;
    color: blueviolet;
}

#reset:hover, #resetC:hover {
    color: yellowgreen;
    background-color: blueviolet;
}

#message, #messageC{
    position: absolute;
    bottom: 400px;
    right: 50px;
}


#computer #xOrZero {
    margin-top: 10px;
    margin-left: 30px;
    width: 100px;
    text-align: center;
    font-size: 20px;
    color: blue;
}

#select-message {
    font-size: 16px;
    padding-top: 15px;
}


#home #cube {
    height: 200px;
    width: 200px;
    margin: 160px auto;
    /* perspective: 200px; */
    animation: cube 5s infinite linear;
    transform-style: preserve-3d;
}


#home #cube div {
    height: inherit;
    width: inherit;
    border: 2px solid blanchedalmond;
    background-color: rgba(0, 0, 0, 0.3);
    color: blanchedalmond;
    font-size: 80px;
    position: absolute;
    line-height: 200px;
}

#home #cube #left {
    transform: rotateY(90deg);
    transform-origin: left;
}

#home #cube #right {
    transform: rotateY(-90deg);
    transform-origin: right;
}

#home #cube #top {
    transform: rotateX(-90deg);
    transform-origin: top;
}

#home #cube #bottom {
    transform: rotateX(90deg);
    transform-origin: bottom;
}

#home #cube #back {
    transform: translateZ(-200px);
}

#home #cube #front {
    z-index: 1;
}


@keyframes cube {
    0% {
        transform: rotate3d(0,0,0,0deg);
    }
    100% {
        transform: rotate3d(1,1,1,360deg);
    }
}



@media(max-width: 576px) {
    #container {
        width: 100%;
        text-align: center;
    }
    .row {
        display: block;

    }
    .row div {

        width: 70%;
        margin: 10px auto;
    }
    #message, #messageC {
        position: static;
    }
}